.header {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color:  #504747;
    color: white;
    z-index: 0;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0, 0.75);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header__left {
    display: flex;
    justify-content: space-between;
}

.header__left > img {
    height: 100px;
    border-radius: 60px;
}

.header__center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option:hover > h4 {
    color: rosybrown
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover  {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info > h4 {
    margin-left: 10px;
}

.header__right {
    display: flex;
}

h4 {
    font-size: 25px;

}
